header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

aside {
    width: 200px;
    gap: 20px;
    padding: 10px;
    float: left;
    height: 100vh;
    overflow-y: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}